<div class="body" style="padding-top: 50px;">
	<div class="tb_right pull-right top-head-h3">
		<button id="createCategoryBtn" onclick="showCategoryForm();" class="btn btn-primary">Add Category</button>
		<button id="loginOutBtn" class="btn btn-primary">Logout</button>
	</div>
	<div id="categorycontainer" style="display:none;height: 600px;">
		<form class="form-horizontal">
			<h2>Eneter  Category Details</h2>
			<div class="form-group">
			  <label class="control-label col-sm-2" for="categoryName">Category Name</label>
			  <div class="col-sm-7">
				<input type="text" class="form-control" id="categoryName" name="categoryName" ng-model="category.category_name" placeholder="Enter Category Name">
			  </div>
			</div>
			<div class="form-group">
			  <label class="control-label col-sm-2" for="shortDesc">Category Short Description</label>
			  <div class="col-sm-7">
				<input type="text" class="form-control" id="shortDesc" name="shortDesc" ng-model="category.short_description" placeholder="Enter Short Description for Category">
			  </div>
			</div>
			<div class="form-group">
			  <label class="control-label col-sm-2" for="longDesc">Category Detail Description</label>
			  <div class="col-sm-7">
				<input type="textarea" class="form-control" id="longDesc" name="longDesc" ng-model="category.long_description" placeholder="Enter Detail Description for Category">
			  </div>
			</div>
			<div class="form-group">
			  <label class="control-label col-sm-2" for="imageUrl">Category Image URL</label>
			  <div class="col-sm-7">
				<input type="text" class="form-control" id="imageUrl" name="imageUrl" ng-model="category.image_url" placeholder="Enter Image URL for Category">
			  </div>
			</div>
			<div class="form-group">        
			  <div class="col-sm-offset-3 col-sm-7">
				<button type="submit" class="btn btn-default" ng-click="$scope.category.createCategory()">Submit</button>
				<button onclick="hideCategoryForm();" class="btn btn-default">Cancel</button>
			  </div>
			</div>
		</form>
	</div>
	
	
	<div id="slider1_container" style="visibility: hidden; position: relative; margin: 0 auto; top: 0px; left: 0px; width: 1300px; height: 600px; overflow: hidden;">
	
	<!-- Loading Screen -->
	<div u="loading" style="position: absolute; top: 0px; left: 0px;">
		<div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;">
		</div>
		<div style="position: absolute; display: block; background: url(images/loading.gif) no-repeat center center; top: 0px; left: 0px; width: 100%; height: 100%;">
		</div>
	</div>
	
	<!-- Slides Container -->
	<div u="slides" style="position: absolute; left: 0px; top: 0px; width: 1300px; height: 600px; overflow: hidden;">
		<div>
			<img u="image" src2="images/red.jpg" />
		</div>
		<div>
			<img u="image" src2="images/purple.jpg" />
		</div>
		<div>
			<img u="image" src2="images/blue.jpg" />
		</div>
	</div>
	
	<!-- bullet navigator container -->
	<div u="navigator" class="jssorb21" style="bottom: 26px; right: 6px;">
		<!-- bullet navigator item prototype -->
		<div u="prototype"></div>
	</div>
	
	
	<!-- Arrow Left -->
	<span u="arrowleft" class="jssora21l" style="top: 123px; left: 8px;">
	</span>
	<!-- Arrow Right -->
	<span u="arrowright" class="jssora21r" style="top: 123px; right: 8px;">
	</span>
	<!--#endregion Arrow Navigator Skin End -->
	<a style="display: none" href="http://www.jssor.com">Bootstrap Carousel</a>
	</div>

	<!-- BLOCKS WRAP -->
	<div class="block-main container">
		<div class="row">
			<div class="col-md-4 col-sm-3" ng-repeat="category in categoryList">
				<div class="block-content" ng-click="getAssetsbyCategory(category.category_name)">
					<img src={{category.image_url}} class="img-responsive" alt="" />
					<div class="bs-text-down text-center hvr-outline-out">
						{{category.category_name}}<span>{{category.short_description}}</span>				
					</div>
				</div>
			</div>
		</div>
	</div>

	
</div>

<script>
var options = {
        $FillMode: 2,                                       //[Optional] The way to fill image in slide, 0 stretch, 1 contain (keep aspect ratio and put all inside slide), 2 cover (keep aspect ratio and cover whole slide), 4 actual size, 5 contain for large image, actual size for small image, default value is 0
        $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
        $Idle: 4000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
        $PauseOnHover: 1,                                   //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

        $ArrowKeyNavigation: true,   			            //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
        $SlideEasing: $JssorEasing$.$EaseOutQuint,          //[Optional] Specifies easing for right to left animation, default value is $JssorEasing$.$EaseOutQuad
        $SlideDuration: 800,                               //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
        $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
        //$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
        //$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
        $SlideSpacing: 0, 					                //[Optional] Space between each slide in pixels, default value is 0
        $Cols: 1,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
        $ParkingPosition: 0,                                //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
        $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
        $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
        $DragOrientation: 1,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $Cols is greater than 1, or parking position is not 0)
      
        $BulletNavigatorOptions: {                          //[Optional] Options to specify and enable navigator or not
            $Class: $JssorBulletNavigator$,                 //[Required] Class to create navigator instance
            $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
            $AutoCenter: 1,                                 //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
            $Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
            $Rows: 1,                                      //[Optional] Specify lanes to arrange items, default value is 1
            $SpacingX: 8,                                   //[Optional] Horizontal space between each item in pixel, default value is 0
            $SpacingY: 8,                                   //[Optional] Vertical space between each item in pixel, default value is 0
            $Orientation: 1,                                //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1
            $Scale: false                                   //Scales bullets navigator or not while slider scale
        },

        $ArrowNavigatorOptions: {                           //[Optional] Options to specify and enable arrow navigator or not
            $Class: $JssorArrowNavigator$,                  //[Requried] Class to create arrow navigator instance
            $ChanceToShow: 1,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
            $AutoCenter: 2,                                 //[Optional] Auto center arrows in parent container, 0 No, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
            $Steps: 1                                       //[Optional] Steps to go for each navigation request, default value is 1
        }
    };

    var jssor_slider1 = new $JssorSlider$("slider1_container", options);

    //responsive code begin
    //you can remove responsive code if you don't want the slider scales while window resizing
    function ScaleSlider() {
        var bodyWidth = document.body.clientWidth;
        if (bodyWidth)
            jssor_slider1.$ScaleWidth(Math.min(bodyWidth, 1920));
        else
            window.setTimeout(ScaleSlider, 30);
    }
    ScaleSlider();

    $(window).bind("load", ScaleSlider);
    $(window).bind("resize", ScaleSlider);
    $(window).bind("orientationchange", ScaleSlider);
    //responsive code end

</script>