<div class="body" style="padding-top: 50px;">

	<div id="slider1_container" style="visibility: hidden; position: relative; margin: 0 auto; top: 0px; left: 0px; width: 1300px; height: 600px; overflow: hidden;">
	
	<!-- Loading Screen -->
	<div u="loading" style="position: absolute; top: 0px; left: 0px;">
		<div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;">
		</div>
		<div style="position: absolute; display: block; background: url(images/loading.gif) no-repeat center center; top: 0px; left: 0px; width: 100%; height: 100%;">
		</div>
	</div>
	
	<!-- Slides Container -->
	<div u="slides" style="position: absolute; left: 0px; top: 0px; width: 1300px; height: 600px; overflow: hidden;">
		<div>
			<img u="image" src2="images/red.jpg" />
		</div>
		<div>
			<img u="image" src2="images/purple.jpg" />
		</div>
		<div>
			<img u="image" src2="images/blue.jpg" />
		</div>
	</div>
	
	<!-- bullet navigator container -->
	<div u="navigator" class="jssorb21" style="bottom: 26px; right: 6px;">
		<!-- bullet navigator item prototype -->
		<div u="prototype"></div>
	</div>
	
	
	<!-- Arrow Left -->
	<span u="arrowleft" class="jssora21l" style="top: 123px; left: 8px;">
	</span>
	<!-- Arrow Right -->
	<span u="arrowright" class="jssora21r" style="top: 123px; right: 8px;">
	</span>
	<!--#endregion Arrow Navigator Skin End -->
	<a style="display: none" href="http://www.jssor.com">Bootstrap Carousel</a>
	</div>

	<!-- BLOCKS WRAP -->
	<div class="block-main container">
		<div class="row">
			<div class="col-md-4 col-sm-3" ng-repeat="category in categoryList">
				<div class="block-content" ng-click="getAssetsbyCategory(category.category_name)">
					<img src={{category.image_url}} class="img-responsive" alt="" />
					<div class="bs-text-down text-center hvr-outline-out">
						{{category.category_name}}<span>{{category.short_description}}</span>				
					</div>
				</div>
			</div>
		</div>
	</div>

	
</div>